.nav{
    margin-left: 250px;
    
}
.item a{
    text-decoration: none;
    margin-right:15px;
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    color: black;
    
}
.item-info a{
    text-decoration: none;
    /* margin-right:15px;
    padding: 5px; */
    font-size: 20px;
    /* margin-left: 20px; */
    color: black;
    margin-right:15px;
    
}
span.badge.bg-primary{
    position: relative;
    font-size: 17px !important;
    padding: 0 !important;
    top: -6px !important;
    background-color: orange !important;
    width: 15px !important;
    display: inline-block;
    border-radius: 50%;
   

}